
@{
}
@model IrmaQuicDashboard.Models.ViewModels.DashboardViewModel


<div class="p-1"></div>
<div class="p-1">
    <div>
        <label asp-for="UploadSessionDate"></label>
        @Html.DisplayFor(model => model.UploadSessionDate)
    </div>
    <div>
        <label asp-for="SessionNumber"></label>
        @Html.DisplayFor(model => model.SessionNumber)
    </div>
    <div>
        <label asp-for="Location"></label>
        @Html.DisplayFor(model => model.Location)
    </div>
    <div>
        <label asp-for="Description"></label>
        @Html.DisplayFor(model => model.Description)
    </div>

    @if (Model.UsesQuic)
    {
        <div>
            <label>Transport: </label>  <b>QUIC</b>
        </div>
    }
    else
    {
        <div>
            <label>Transport: </label>  <b>HTTP/TLS</b>
        </div>
    }

    
    <div>
        <label asp-for="Testmode"></label>
        @Html.DisplayFor(model => model.Testmode)
    </div>
    

    <div>
        <label asp-for="ValidTestAmount"></label>
        @Html.DisplayFor(model => model.ValidTestAmount)
    </div>

    <div>
        <label asp-for="InvalidTestAmount"></label>
        @Html.DisplayFor(model => model.InvalidTestAmount)
    </div>

    @if(Model.ShowErrorMessage)
    {
        <h3 class="text-danger">Error</h3>
        <p>@Model.ErrorMessage</p>
    }

    <table class="table">
        <tr>
            <th>SessionId</th>
            <th>StartTime</th>
            <th>Location</th>
            <th>New-Rip</th>
            <th>Res-Suc</th>
            <th>New-SERV</th>
            <th>SERV-RIP</th>
            <th>Res-SERV</th>
            <th>SERV-Suc</th>
        </tr>
        @foreach (var session in Model.IrmaSessions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => session.AppSessionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.NewSessionToRequestIssuanceDelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.RespondToSuccessDelta)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.NewSessionToServerLogDelta)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.ServerLogToRequestIssuanceDelta)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.RespondToServerLogDelta)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.ServerLogToSuccessDelta)

                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                <p><b>Averages: </b></p>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageNewSessionToRequestIssuance)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageRespondToSuccess)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageNewSessionToServerLog)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageServerLogToRequestIssuance)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageRespondToServerLog)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => Model.AverageServerLogToSuccess)</b>
            </td>
        </tr>
    </table>
</div>
<div class="p-1"></div>