@{
}
@model IrmaQuicDashboard.Models.ViewModels.TotalResultViewModel


<div class="p-1"></div>
<div class="p-1">
    <table class="table">
        <tr>
            <th></th>
            <th colspan="3">NewSession (NEW) - RespondIssuancePermission (RIP)</th>
            <th colspan="3">RespondPermission (RES) - Success (SUC)</th>
        </tr>
        <tr>
            <th></th>
            <th>QUIC</th>
            <th>TCP/TLS</th>
            <th>Diff %</th>
            <th>QUIC</th>
            <th>TCP/TLS</th>
            <th>Diff %</th>
        </tr>
        <tr>
            <td>WiFi</td>
            <td>@Model.QuicUsingWiFiNewRip s</td>
            <td>@Model.TLSUsingWiFiNewRip s</td>
            <td>@Model.PercentageDiffUsingWiFiNewRip %</td>
            <td>@Model.QuicUsingWiFiResSuc s</td>
            <td>@Model.TLSUsingWiFiResSuc s</td>
            <td>@Model.PercentageDiffUsingWiFiResSuc %</td>
        </tr>
        <tr>
            <td>3G, stationary</td>
            <td>@Model.QuicUsing3GStationaryNewRip s</td>
            <td>@Model.TLSUsing3GStationaryNewRip s</td>
            <td>@Model.PercentageDiffUsing3GStationaryNewRip %</td>
            <td>@Model.QuicUsing3GStationaryResSuc s</td>
            <td>@Model.TLSUsing3GStationaryResSuc s</td>
            <td>@Model.PercentageDiffUsing3GStationaryResSuc %</td>
        </tr>
        <tr>
            <td>4G, moving</td>
            <td>@Model.QuicUsing4GMovingNewRip s</td>
            <td>@Model.TLSUsing4GMovingNewRip s</td>
            <td>@Model.PercentageDiffUsing4GMovingNewRip %</td>
            <td>@Model.QuicUsing4GMovingResSuc s</td>
            <td>@Model.TLSUsing4GMovingResSuc s</td>
            <td>@Model.PercentageDiffUsing4GMovingResSuc %</td>
        </tr>
        <tr>
            <td><b>Averages</b></td>
            <td><b>@Model.AverageQuicNewRip s</b></td>
            <td><b>@Model.AverageTLSNewRip s</b></td>
            <td><b>@Model.AveragePercentageDiffNewRip %</b></td>
            <td><b>@Model.AverageQuicResSuc s</b></td>
            <td><b>@Model.AverageTLSResSuc s</b></td>
            <td><b>@Model.AveragePercentageDiffResSuc %</b></td>
        </tr>
        
       
    </table>
    <div class="text-center">
        <h3>Totals</h3>
        <div>
            <label asp-for="TotalAverageQUIC"></label>
            @Html.DisplayFor(model => model.TotalAverageQUIC) s
        </div>
        <div>
            <label asp-for="TotalAverageTLS"></label>
            @Html.DisplayFor(model => model.TotalAverageTLS) s
        </div>
        <div>
            <label asp-for="TotalAveragePercentageDiff"></label>
            @Html.DisplayFor(model => model.TotalAveragePercentageDiff) %
        </div>
    </div>

</div>
<div class="p-1"></div>