@{
}
@model IrmaQuicDashboard.Models.ViewModels.TotalResultViewModel


<div class="p-1"></div>
<div class="p-1">
    <table class="table">
        <tr>
            <th></th>
            <th colspan="3">NewSession (NEW) - RespondIssuancePermission (RIP)</th>
            <th colspan="3">RespondPermission (RES) - Success (SUC)</th>
        </tr>
        <tr>
            <th></th>
            <th>QUIC</th>
            <th>HTTP/TLS</th>
            <th>Diff %</th>
            <th>QUIC</th>
            <th>HTTP/TLS</th>
            <th>Diff %</th>
        </tr>
        <tr>
            <td>WiFi (sec)</td>
            <td>@Model.QuicUsingWiFiNewRip</td>
            <td>@Model.TLSUsingWiFiNewRip</td>
            <td>@Model.PercentageDiffUsingWiFiNewRip</td>
            <td>@Model.QuicUsingWiFiResSuc</td>
            <td>@Model.TLSUsingWiFiResSuc</td>
            <td>@Model.PercentageDiffUsingWiFiResSuc</td>
        </tr>
        <tr>
            <td>3G, stationary (sec)</td>
            <td>@Model.QuicUsing3GStationaryNewRip</td>
            <td>@Model.TLSUsing3GStationaryNewRip</td>
            <td>@Model.PercentageDiffUsing3GStationaryNewRip</td>
            <td>@Model.QuicUsing3GStationaryResSuc</td>
            <td>@Model.TLSUsing3GStationaryResSuc</td>
            <td>@Model.PercentageDiffUsing3GStationaryResSuc</td>
        </tr>
        <tr>
            <td>4G, moving (sec)</td>
            <td>@Model.QuicUsing4GMovingNewRip</td>
            <td>@Model.TLSUsing4GMovingNewRip</td>
            <td>@Model.PercentageDiffUsing4GMovingNewRip</td>
            <td>@Model.QuicUsing4GMovingResSuc</td>
            <td>@Model.TLSUsing4GMovingResSuc</td>
            <td>@Model.PercentageDiffUsing4GMovingResSuc</td>
        </tr>
        <tr>
            <td><b>Averages (sec)</b></td>
            <td><b>@Model.AverageQuicNewRip</b></td>
            <td><b>@Model.AverageTLSNewRip</b></td>
            <td><b>@Model.AveragePercentageDiffNewRip</b></td>
            <td><b>@Model.AverageQuicResSuc</b></td>
            <td><b>@Model.AverageTLSResSuc</b></td>
            <td><b>@Model.AveragePercentageDiffResSuc</b></td>
        </tr>
        
       
    </table>
    <div class="text-center">
        <h3>Totals</h3>
        <div>
            <label asp-for="TotalAverageQUIC"></label>
            @Html.DisplayFor(model => model.TotalAverageQUIC)
        </div>
        <div>
            <label asp-for="TotalAverageTLS"></label>
            @Html.DisplayFor(model => model.TotalAverageTLS)
        </div>
        <div>
            <label asp-for="TotalAveragePercentageDiff"></label>
            @Html.DisplayFor(model => model.TotalAveragePercentageDiff)
        </div>
    </div>

</div>
<div class="p-1"></div>